<?xml version="1.0" encoding="UTF-8" ?>

<Server version="8">
	<Name>OvenMediaEngine</Name>
	<Type>edge</Type>
	<IP>*</IP>

	<!-- Settings for the ports to bind -->
	<Bind>
		<Providers>
			<!-- Currently, OME doesn't support using the specified port for OVT Provider -->
			<OVT>
				<Port>9001</Port>
			</OVT>
		</Providers>

		<Publishers>
			<HLS>
				<TLSPort>${env:TLS_HTTP_PORT:8943}</TLSPort>
			</HLS>
		</Publishers>
	</Bind>

	<VirtualHosts>
		<VirtualHost include="VHost*.xml" />
		<VirtualHost>
			<Name>default</Name>

			<!-- Settings for multi ip/domain and TLS -->
			<Host>
				<Names>
					<Name>${env:TLS_DOMAIN_NAME:oven.example.com}</Name>
				</Names>
				<TLS>
					<CertPath>/etc/ssl/cert.crt</CertPath>
					<KeyPath>/etc/ssl/key.key</KeyPath>
					<!-- <ChainCertPath>/etc/ssl/chain.crt</ChainCertPath> -->
				</TLS>
			</Host>
			

			<!-- Settings for ProxyPass (It can specify origin for each path) -->
			<Origins>
				<!--
					<Origin>
					<Location>/app/stream</Location>
					<Pass>
						<Scheme>ovt</Scheme>
						<Urls>
							<Url>origin.com:9000/app/stream_720p</Url>
						</Urls>
					</Pass>
				</Origin>
				-->
				<Origin>
					<Location>/ponystream/</Location>
					<Pass>
						<Scheme>OVT</Scheme>
						<Urls>
							<Url>${env:OVT_ORIGIN_SERVER:}:${env:OVT_ORIGIN_PORT:9000}/source/</Url>
						</Urls>
					</Pass>
				</Origin>
			</Origins>
			<Applications>
				<Application>
					<Name>ponystream</Name>
					<Type>live</Type>
					<Providers>
						<OVT />
					</Providers>
					<OutputProfiles>
						<OutputProfile>
							<Name>bypass_stream</Name>
							<OutputStreamName>${OriginStreamName}</OutputStreamName>
							<Encodes>
								<Audio>
									<Bypass>true</Bypass>
								</Audio>
								<Video>
									<Bypass>true</Bypass>
								</Video>
							</Encodes>
						</OutputProfile>
					</OutputProfiles>
					<Publishers>
						<SessionLoadBalancingThreadCount>${env:CPU_CORES_COUNT:4}</SessionLoadBalancingThreadCount>
						<StreamLoadBalancingThreadCount>2</StreamLoadBalancingThreadCount>
						<HLS>
							<SegmentDuration>5</SegmentDuration>
							<SegmentCount>3</SegmentCount>
							<CrossDomains>
								<Url>*.brony.eu</Url>
								<Url>*.pony.town</Url>
								<Url>pony.town</Url>
							</CrossDomains>
						</HLS>
					</Publishers>
				</Application>
			</Applications>
		</VirtualHost>
	</VirtualHosts>
</Server>