<?xml version="1.0" encoding="UTF-8" ?>

<Server version="8">
	<Name>OvenMediaEngine</Name>
	<!-- Host type (origin/edge) -->
	<Type>edge</Type>
	<!-- Specify IP address to bind (* means all IPs) -->
	<IP>*</IP>

	<!-- Settings for the ports to bind -->
	<Bind>
		<!-- Enable this configuration if you want to use API Server -->
		<!--
		<Managers>
			<API>
				<Port>48081</Port>
			</API>
		</Managers>
		-->
		<Providers>
			<!-- Currently, OME doesn't support using the specified port for OVT Provider -->
			<OVT>
				<Port>9001</Port>
			</OVT>
		</Providers>

		<Publishers>
			<HLS>
				<TLSPort>${env:TLS_HTTP_PORT:8943}</TLSPort>
			</HLS>
			<DASH>
				<TLSPort>${env:TLS_HTTP_PORT:8943}</TLSPort>
			</DASH>
		</Publishers>
	</Bind>

	<VirtualHosts>
		<!-- You can use wildcard like this to include multiple XMLs -->
		<VirtualHost include="VHost*.xml" />
		<VirtualHost>
			<Name>default</Name>

			<!-- Settings for multi ip/domain and TLS -->
			<Host>
				<Names>
					<Name>${env:TLS_DOMAIN_NAME:oven.example.com}</Name>
				</Names>
				<TLS>
					<CertPath>/etc/ssl/cert.crt</CertPath>
					<KeyPath>/etc/ssl/key.key</KeyPath>
					<!-- <ChainCertPath>/etc/ssl/chain.crt</ChainCertPath> -->
				</TLS>
			</Host>
			
			<!-- Refer https://airensoft.gitbook.io/ovenmediaengine/signedpolicy

			<SignedPolicy>
				<PolicyQueryKeyName>${env:SIGNED_POLICY_POLICY_QUERY_KEY:policy}</PolicyQueryKeyName>
				<SignatureQueryKeyName>${env:SIGNED_POLICY_SIGNATURE_QUERY_KEY:signature}</SignatureQueryKeyName>
				<SecretKey>${env:SIGNED_URL_CRYPTO_KEY:aKq#1kj}</SecretKey>

				<Enables>
					<Providers>rtmp</Providers>
					<Publishers>webrtc,hls,dash,lldash</Publishers>
				</Enables>
			</SignedPolicy>
			-->

			<!-- Settings for ProxyPass (It can specify origin for each path) -->
			<Origins>
				<!--
					<Origin>
					<Location>/app/stream</Location>
					<Pass>
						<Scheme>ovt</Scheme>
						<Urls>
							<Url>origin.com:9000/app/stream_720p</Url>
						</Urls>
					</Pass>
				</Origin>
				<Origin>
					<Location>/app/</Location>
					<Pass>
						<Scheme>ovt</Scheme>
						<Urls>
							<Url>${env:DEFAULT_ORIGIN_SERVER:}:${env:DEFAULT_ORIGIN_PORT:9000}/app/</Url>
						</Urls>
					</Pass>
				</Origin>
				-->
				<Origin>
					<Location>/</Location>
					<Pass>
						<Scheme>ovt</Scheme>
						<Urls>
							<Url>${env:DEFAULT_ORIGIN_SERVER:}:${env:DEFAULT_ORIGIN_PORT:9000}/</Url>
						</Urls>
					</Pass>
				</Origin>
			</Origins>
			<Applications>
				<Application>
					<Name>app</Name>
					<!-- Application type (live/vod) -->
					<Type>live</Type>
					<OutputProfiles>
						<OutputProfile>
							<Name>bypass_stream</Name>
							<OutputStreamName>${OriginStreamName}</OutputStreamName>
							<Encodes>
								<Audio>
									<Bypass>true</Bypass>
								</Audio>
								<Video>
									<Bypass>true</Bypass>
								</Video>
								<!--
								<Audio>
									<Codec>opus</Codec>
									<Bitrate>128000</Bitrate>
									<Samplerate>48000</Samplerate>
									<Channel>2</Channel>
								</Audio>
								-->
							</Encodes>
						</OutputProfile>
					</OutputProfiles>
					<Providers>
						<OVT />
					</Providers>
					<Publishers>
						<SessionLoadBalancingThreadCount>8</SessionLoadBalancingThreadCount>
						<HLS>
							<SegmentDuration>5</SegmentDuration>
							<SegmentCount>3</SegmentCount>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
						</HLS>
						<DASH>
							<SegmentDuration>5</SegmentDuration>
							<SegmentCount>3</SegmentCount>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
						</DASH>
						<LLDASH>
							<SegmentDuration>5</SegmentDuration>
							<CrossDomains>
								<Url>*</Url>
							</CrossDomains>
						</LLDASH>
					</Publishers>
				</Application>
			</Applications>
		</VirtualHost>
	</VirtualHosts>
</Server>